.mat-grid-tile {
  background-color: mintcream;
  width: 250px;
  align-items: baseline;
}
.job-card {
  background-color: lightgoldenrodyellow;
  margin: 5px;
  box-shadow: 0 0 10px seagreen;
  width: 240px;
}

