<nav mat-tab-nav-bar class="system-bar">
    <button mat-button aria-label="Menu" class="snack-button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-tab-link [routerLink]="['/system', 'jobs']" class="system-button" (click)="jobState()"> All jobs </a>
    <a mat-tab-link [routerLink]="['/system', 'contracts']" class="system-button" (click)="contractState()"> Your
      contracts </a>
    <a mat-tab-link [matMenuTriggerFor]="menu" class="system-tab-menu">
      <mat-icon>face</mat-icon>
    </a>
      <mat-menu #menu [overlapTrigger]="false">
          <button mat-menu-item class="system-button">Профиль</button>
          <button mat-menu-item class="system-button" (click)="onLogout()">Выход</button>
      </mat-menu>
</nav>
  <mat-drawer-container class="system-container">
     <mat-drawer #drawer mode="side" class="system-drawer">
       <h3  *ngIf="state">Filter </h3>
       <mat-accordion  *ngIf="state">
        <mat-expansion-panel class="system-expanel">
          <mat-expansion-panel-header>
            Сложность
          </mat-expansion-panel-header>
          <mat-label>Выберите сложность:</mat-label>
          <div class="checkbox-container">
            <mat-checkbox>Легко</mat-checkbox>
            <mat-checkbox>Средне</mat-checkbox>
            <mat-checkbox>Трудно</mat-checkbox>
          </div>
        </mat-expansion-panel>
         <mat-expansion-panel class="system-expanel">
          <mat-expansion-panel-header>
            Награда
          </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput type="number" placeholder="От, руб." maxlength="6">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="До, руб." maxlength="6">
            </mat-form-field>
         </mat-expansion-panel>
       </mat-accordion>
       <button mat-button [routerLink]="['/system', 'jobs']" *ngIf="!state" class="system-button-contract"
               (click)="jobState()">All
         jobs</button>
     </mat-drawer>
    <mat-drawer-content class="system-content">
     <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

