<nav mat-tab-nav-bar class="system-bar">
    <button mat-button aria-label="Menu" class="snack-button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-tab-link class="system-button"
       [routerLink]="['/system', 'jobs']" [queryParams]="{checkAll: true}"> All jobs </a>
    <a mat-tab-link class="system-button"
       [routerLink]="['/system', 'contracts']"> Your contracts </a>
    <a mat-tab-link [matMenuTriggerFor]="menu" class="system-tab-menu">
      <mat-icon>face</mat-icon>
    </a>
      <mat-menu #menu [overlapTrigger]="false">
          <button mat-menu-item class="system-button">Профиль</button>
          <button mat-menu-item class="system-button" (click)="onLogout()">Выход</button>
      </mat-menu>
</nav>
  <mat-drawer-container class="system-container">
     <mat-drawer #drawer mode="side" class="system-drawer">
       <h3  *ngIf="state">Filter </h3>
       <mat-accordion  *ngIf="state">
        <mat-expansion-panel class="system-expanel">
          <mat-expansion-panel-header>
            Сложность
          </mat-expansion-panel-header>
          <mat-label>Выберите сложность:</mat-label>
            <mat-button-toggle
              [routerLink]="['/system', 'jobs']" [queryParams]="{checkEasyLevel: true}"
              class="sidenav-button"
            >
              Легко</mat-button-toggle>
            <mat-button-toggle mat-button-toggle
                    [routerLink]="['/system', 'jobs']" [queryParams]="{checkMidLevel: true}"
                    class="sidenav-button"
            >
              Средне</mat-button-toggle>
            <mat-button-toggle
                    [routerLink]="['/system', 'jobs']" [queryParams]="{checkHighLevel: true}"
                    class="sidenav-button"
            >
              Трудно</mat-button-toggle>
            <mat-button-toggle
                    [routerLink]="['/system', 'jobs']" [queryParams]="{checkAll: true}"
                    class="sidenav-button"
            >
              Любая</mat-button-toggle>
        </mat-expansion-panel>
       </mat-accordion>
       <button mat-button *ngIf="!state" class="system-contract-button">Функционал</button>
     </mat-drawer>
    <mat-drawer-content class="system-content">
     <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

