<div class="mat mat-app-background basic-container" style="border-radius: 0 0 10px 10px;">
  <form (ngSubmit)="submitForm(formLogin)" #formLogin="ngForm">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        >
        <mat-error *ngIf="email.invalid && email.touched  && !email.errors['required']">Введите корректный
          Email</mat-error>
        <mat-error
          *ngIf="email.invalid && email.touched && email.errors['required']">
          Email не должен быть пустым</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          [type]="passType"
          placeholder="Пароль"
          class="form-control"
          [(ngModel)]="password"
          name="pass"
          required
          pattern="[A-z1-9]{6,100}"
          #pass="ngModel"
          minlength="6"
        >
        <mat-error *ngIf="pass.invalid && pass.touched && !pass.errors['pattern'] && !pass.errors['minlength']">
          Пароль не может быть пустым</mat-error>
        <mat-error *ngIf="pass.invalid && pass.touched && pass.errors['pattern'] && !pass.errors['minlength']">
          Пароль должен содержать символы A-z 1-9
        </mat-error>
        <mat-error *ngIf="pass.invalid && pass.touched && pass.errors['minlength']">
          Длина пароля должна быть не менее 6 символов
        </mat-error>

      </mat-form-field>
    </div>
    <br>
      <mat-checkbox class="mat-checkbox" (click)="onClick()">
        {{hidePassword}}
      </mat-checkbox>
    <br>
    <br>
    <mat-error> {{textMassage}} </mat-error>
    <br>
    <div class="mat-button">
     <button
       mat-raised-button
       color="primary"
       type="submit"
       [disabled]="formLogin.invalid"
     >Login</button>
    </div>
  </form>
</div>





