@import url('https://fonts.googleapis.com/css?family=Playball');
.user-card {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform:translateY(-50%) translateX(-50%);
  padding: 0;
  border: 1px solid seagreen;
}
.user-image{
  background-image: url('../../disign/icon.png');
  background-size: cover;
}
.user-content {
  text-align: center;
}
.user-title {
  padding-left: 10%;
  font-size: 30px;
  color: white;
  font-family: 'Playball', cursive;
}
.user-header {
  padding-left: 5%;
  padding-top: 5%;
  background-color: seagreen;
}
.user-bar {
  background-color: lightgreen;
}
.user-subtitle {
  padding-left: 15%;
}
