@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
body,html {
  background-color: #F5FFFA;
}
.mat-menu-content {
  background-color: seagreen;
  display: flex;
  flex-direction: column;
}
.mat-dialog-container {
  background-color: lightgoldenrodyellow;
}

